*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style-type:none ;
}
a { text-decoration: none; }
.contenedor{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(238, 176, 176);

}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    padding-right: 0;
    color: black;
    position: sticky;
    top: 0;
    height: 100vh;
    }
.logo{
    font-weight: 500;
    font-size: 1.5rem;
    
}
.principal{
    color:rgb(255, 149, 149) ;
    margin-bottom: 2rem;
}
.footer{
    color: rgb(51, 48, 48);
    font-size: 500;
}
main{
    background-color: white;
    margin: 1rem;
    border-radius: 1.5rem;
    padding: 2.5rem;
    margin-left:0 ;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    

}

.boton-menu{
    display: flex;
    gap: 4px;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    padding: 1rem;

}
.boton-carrito{
    margin-top: 5px;

}
.boton-categoria.active{
    background-color: rgb(156, 108, 108);
    width: 100%;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;

}
i.bi-hand-index-thumb{
    transform: rotateZ(100deg) ;
}


.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
    gap: 1.5rem;
    
}
.producto-detalles{
    display: flex;
    flex-direction: column;
   
    gap: 5px;
    background-color: rgb(238, 176, 176);
    color: black;
    padding: .5rem;
    border-radius: 1rem;
    width: 75%;
    margin-top: -2rem;
    position: relative;
    
    
}
.producto-agregar{
    border: 0;
    border-radius: 15px;
    background-color:white ;
    padding: 4px;
    text-transform: uppercase;
   

}
.producto-titulo{
    font-size: 18px;

}
/**carrito**/
.tPrincipal{
    color:rgb(238, 176, 176) ;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}
.carrito-compras{
display: flex;
flex-direction: column;
gap:5px;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-right: 1rem;
    padding: .6rem;
    border-radius: 10px;

}
.carrito-pruducto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;

}
.carrito-producto img{
    width: 6rem;
    border-radius: 1rem;
}